.git
.gitignore
.env
.env.backup
.env.production
README.md
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*
tests
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore 